REACT_APP_SUPABASE_URL=https://kmboqevmbbqbvxuexbvo.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImttYm9xZXZtYmJxYnZ4dWV4YnZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDYzNDc0MjgsImV4cCI6MjA2MTkyMzQyOH0.XXMbplctWSBNI-tNvdB1TW33ItgF0nukV9htWqiNwtM